{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="card" style="width: 18rem;">
    <form method="POST">
        {% csrf_token %}
        <label for="title"></label>
        <input id="title" class="form-control" placeholder="Enter title" name="title">

        <label for="image"></label>
        <input type="file" id="image" class="form-control"  name="image" accept="image/*" required>

        <button type="submit" class="btn btn-primary">Add speciality</button>
    </form>
</div>

{% endblock %}